.item{
    transition: .5s ease-in-out;
}

.item:hover{
    filter: brightness(80%);
}

.footer{
	margin-left: 0%;
	margin-right: 0%;
	padding-left: 0%;
	padding-right: 0%;
}

.w_footer{
	background: black;
	color: white;
	padding: 15px 30px;
}